
#typingConsole{
	font-family:"Lucida Console", Monaco, monospace;
	font-size: 2em;
}


.greenSpan{
background-color:#4caf50;
}

.redSpan{
background-color:#bf2010;
}

.orangeSpan{
background-color:#ffa500;
}